<!DOCTYPE html>
<html>
    <head>
        <title>DeuceBag</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    
    <div id="landing-header">
        <div id = "landing-welcome">
                <h1>Welcome to DeuceBag!</h1>
        </div>
		<a href="/products" class="btn btn-lg btn-primary">Start Shopping</a>
		 <p>
           
        </p>
    </div>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

</body>
</html>
