#landing-welcome{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}
#tblproduct{
  margin-top: 1in;
  margin: auto;
  width: 50%;
}
.footer{
 background: black;
 color:white;
 text-align: center;
 list-style: none;

}
#info{
 text-align: left;
 list-style:none;

}
#box{
 
  width: 100%;
}

#hidden{

  visibility: hidden;
}
#members{
  list-style: none;
  font-size: 8 px;
}
.pageHdr{
  height: 250 px;
  width:100%;
  background-color: #461F00;
  color:white;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.thumbnail img {
  height:250px;
  width:200%;
}


.caption {
  padding-top: 1px;
  padding-bottom: 1px
}

.jumbotron {
 background-color: #461F00;;
 position:relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
  color: white;
}

h1{
  font-family: anton;
  font-size: 5.0em;
}

.product-sold{
  display: grid;
  place-content: center;
  height: 100vh;
}

.right{
 width: 100%;
 background-color: blue;
}

.filler{
  height: 100%;
}

select{
  font-size: 20px;
}

